<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.md_back.mappers.TermMapper">
    <insert id="insertTerm" parameterType="com.example.md_back.model.Term" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Term(shortName, engName, korName, meaning, deleteStatus, createUserId, createDate)
        VALUES (#{shortName}, #{engName}, #{korName}, #{meaning}, 0, #{createUser.memberId}, #{createDate})
    </insert>

    <update id="updateTerm" parameterType="com.example.md_back.model.Term">
        UPDATE Term
        SET
        <if test="shortName != null">shortName=#{shortName},</if>
        <if test="engName != null">engName=#{engName},</if>
        <if test="korName != null">korName=#{korName},</if>
        <if test="meaning != null">meaning=#{meaning},</if>
        modifyUserId = #{modifyUser.memberId},
        modifyDate = #{modifyDate}
        WHERE id = #{id}
    </update>

    <update id="deleteTerm" parameterType="com.example.md_back.model.Term">
        UPDATE Term
        SET deleteStatus = 1,
            modifyUserId = #{modifyUser.memberId},
            modifyDate   = #{modifyDate}
        WHERE id = #{id}
    </update>

    <select id="getTerms" resultType="com.example.md_back.model.Term">
        SELECT *
        FROM Term
        WHERE deleteStatus = 0
    </select>

    <select id="getTermsByName" parameterType="String" resultType="com.example.md_back.model.Term">
        SELECT *
        FROM Term
        WHERE deleteStatus = 0
          AND (shortName = #{name} OR engName = #{name} OR korName = #{name})
    </select>

    <select id="getTermById" parameterType="int" resultType="com.example.md_back.model.Term">
        SELECT *
        FROM Term
        WHERE id = #{id}
    </select>

    <select id="getTermsByUserId" parameterType="int" resultType="com.example.md_back.model.Term">
        SELECT *
        FROM Term
        WHERE deleteStatus = 0
          AND (createUserId = #{userId} OR modifyUserId = #{userId})
    </select>

    <delete id="deleteTermDB" parameterType="int">
        DELETE
        FROM Term
        WHERE id = #{id}
    </delete>

    <update id="updateTermByTermWord" parameterType="com.example.md_back.model.Approval">
        UPDATE Term
        SET modifyUserId = #{createUser.memberId},
            modifyDate = #{createDate}
        WHERE id = #{targetId}
    </update>
</mapper>