<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.md_back.mappers.UserMapper">

    <select id="getUser" resultType="com.example.md_back.dto.LoginDTO">
        SELECT * from User where memberName=#{memberName};
    </select>
    <select id="checkUser" parameterType="com.example.md_back.model.User" resultType="com.example.md_back.model.User">
        SELECT  memberId, access, email, enrollDate, memberName, quitStatus FROM User where memberName=#{memberName} and password=#{password}
    </select>
    <insert id="insertUser" parameterType="com.example.md_back.model.User">

    </insert>
</mapper>